* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-family: 'Tajawal', sans-serif; 
  direction: rtl;
}
:root {
  --main-transition: 0.5s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --main-background: rgb(120,29,66);
  --alt-background:#411530;

}
/*  For All Component's */
::selection {
  background-color: var(--alt-background);
  color: white;
}
/* Over Lay  */
.over-lay {
  position: relative;
  min-height: 100vh;
  min-width: 100%;
}
.over-lay::before,
.over-lay::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.over-lay::after {
  background-image: url(../image/bg-image.PNG);
  z-index: -1;
}
.over-lay::before {
  background: radial-gradient(circle, var(--alt-background)
  52%, rgba(11,11,15,1) 100%);  width: 100%;
  opacity: .95;
}
/* Container */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Media Query For | Container */
/*  Small Container */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/*  Medium Container */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/*  Large Container */
@media (min-width: 1200px) {
  .container {
    width: 1240px;
  }
}

/* Section Book */ 
.books {
  padding-bottom: 20px;
}
.books .container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(22em,1fr));
  gap: 40px;
  padding-top: var(--main-padding-top);
}
@media (max-width:500px) {
  .books .container {
    grid-template-columns: 1fr;
  }

}
.books .card {
  background: #781d4238;
  position: relative;
  padding: 15px;
  display: flex;
  box-shadow: -1px 0px 3px 1px #411530;
  border-radius: 15px;
  transition: var(--main-transition);
  overflow: hidden;  
  animation-play-state: paused ;
}
.books .card:hover {
  transform:   translateY(-10px);
  animation-play-state: running ;
}
.books .card::before {
  content: attr(data-author)' | 'attr(data-section);
  background-color: #781d42;
  position: absolute;
  bottom: 0;
  color: white;
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  text-align: center;
  width: 40%;
  transition: var(--main-transition);
}
.books .card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-72%, -32%)rotate(296deg);
  border-style: solid;
  border-color: #ffffff00 transparent #781d42;
  border-width: 20px;
  transition: var(--main-transition);
}
.books .card:hover::after {
  border-width: 50px;
  transition: var(--main-transition);
  transform: translate(-72%, -39%)rotate(296deg);
}


.books .card img {
  max-width: 150px;
  width: 150px;
  max-height: 208px;
  height: 208px;
  border-radius: 9px;
  margin-bottom: 25px;
  border: 2px solid #781d42;
}
.books .card .contant {
  margin-right: 20px;
}
.books .card h2 {
  color: white;
  margin-bottom: 10px;
  font-size: 17px;
}
.books .card p {
  color: wheat;
  font-size: 17px;
  border-top: 1px solid #cccccc21;
  padding-top: 6px;
  margin-bottom: 12px;
  max-height: 100px;
  overflow-y: hidden;
  cursor: n-resize;
}
.books .card p:hover {
  overflow-y: auto;
} 
.books .card p::-webkit-scrollbar {
  width: 2px;
}
.books .card p::-webkit-scrollbar-thumb {
  background-color: var(--main-background);
}
.books .card p::-webkit-scrollbar-track {
  background-color: var(--alt-background);
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-background);
}
::-webkit-scrollbar-track {
  background-color: var(--alt-background);
}

.books .card .icon {
  margin: 6px 0 6px;
}
.books .card .icon .filled {
  color: #FFC107;
}
.books .card .icon i.fa {
  color: white;
}
.books .card h3 {
  color: #ffc107a8;
  font-size: 15px;
}
.books .card h3 em {
  margin-right: 4px;
  font-style: normal;
  display: inline-block;
}


/* ! Not Important For You But For Me 
1- تنظيم الكود وتغير الصور 

اضافة سيرش بار و فلتر واقسام زي رعب فلسفة ديني2--  

3- واضافة قسم او اتنين تاني 

*/
